
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(111,122,138,1);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    width: 185.6%;
    position: fixed;
    top: 10px;
    
   
}

li {
    padding: 20px;
    font-size: 20px;
    
}

.panel {
    color: rgba(255, 255, 255, 0.5)
}

.panel:hover {
    color: rgb(94, 255, 0);
    transition: 1s ;

}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
}
.top {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

   
}
img {
    width: 30%;
   filter: grayscale(0.7);
    position: sticky;
    top: -50px;
  
   
    
}

.header {
    font-size: 120px;
    color: #fff;
    padding: 130px 20px 40px 20px;
    width: min-content;
    
}
.header::first-letter  {
    color: rgb(94, 255, 0);
}

/* a:active {
    color: rgb(94, 255, 0);

} */




.cv {
    border: 1px solid  rgb(94, 255, 0) ;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;

}
.cv:hover {
    background-color: rgb(94, 255, 0);
    transition: 1s ;
    color:#000;
    
}


span {
      display: flex;
      color:  rgb(94, 255, 0);
      border-radius: 50%;
      border-right: 4px solid  rgb(94, 255, 0);
      /* border-left: 4px solid  rgb(94, 255, 0); */
      padding: 5px 15px 10px 15px;
      font-size: 30px;
      margin-right: 70px;
  }

span a {
    color:  rgb(94, 255, 0);
    
  }
a {
      text-decoration: none;
  }

.about {
    width: 70%;
    background-color: rgb(49, 46, 46);
    text-align: center;
    margin: 100px auto;
    padding: 70px;
    /* z-index: 3; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100px;
    

}
.abouttext {
    color: #fff;
    padding: 40px;
    line-height: 2;
    font-size: 18px;
}

.menu {
    background-color: rgba(111,122,138,1);

}


