
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: rgba(111,122,138,1);
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    width: 185.6%;
    position: fixed;
}

li {
    padding: 20px;
    font-size: 20px;
    
}

.panel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}

nav {
    background-color: rgba(111,122,138,1);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    

}
.top {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

   
}
img {
    width: 30%;
   filter: grayscale(0.7);
   /* position: sticky; */
    
}

.header {
    font-size: 120px;
    color: #fff;
    padding: 70px 20px 40px 20px;
    width: min-content;
    
}
.header::first-letter  {
    color: rgb(94, 255, 0);
}

/* a:active {
    color: rgb(94, 255, 0);

} */

.panel:hover {
    color: rgb(94, 255, 0);
    transition: 1s ;
    

} 

.cv {
    border: 1px solid  rgb(94, 255, 0) ;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;

}
.cv:hover {
    background-color: rgb(94, 255, 0);
    transition: 1s ;
    color:#000;
}

